/* Theme Colours */
$iiitd-main: #39AEA8;
$lightest-grey: #F1F0F0;
$light-grey: #A49C9C;
$grey: #9F9F9F;
/* End of Theme Colours */

/* Global Rules */
a, a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: $iiitd-main;
}
.text-color-main {
    color: $iiitd-main !important;
}
.text-color-lightest-grey {
    color: $lightest-grey !important;
}
.bg-color-main {
    background-color: $iiitd-main !important;
}
.bg-color-main-ui {
    background-color: $iiitd-main;
}
.bg-color-lightest-grey {
    background-color: $lightest-grey !important;
}
.m-auto {
    margin: auto;
}
/* End of Global Rules */

/* Navigation */
.navigation {
    .nav-item > a {
        font-size: 1.3rem;
        font-weight: bolder;
        color: $grey;
        transition: 0.7s;
    }

    .nav-item > a:hover, .nav-item > a:active {
        color: $iiitd-main !important;
        transform: translate(0, -5px);
    }
}
/* End of Navigation */

.arrow {
    width: 50px;
    height: 50px;
    color: $lightest-grey;
    transition: 0.7s;
}
.arrow:hover {
    color: rgb(199, 199, 199);
    transform: translate(0, -4px);
}
.bottom {
    position: absolute;
    bottom: 15px;
    right: 25px;
}