/* Theme Colours */
$iiitd-main: #39AEA8;
$lightest-grey: #F1F0F0;
$light-grey: #A49C9C;
$grey: #9F9F9F;
$off-white: #E5E5E5;
/* End of Theme Colours */

/* Global Rules */
a, a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: $iiitd-main;
}
.text-color-main {
    color: $iiitd-main !important;
}
.text-color-lightest-grey {
    color: $lightest-grey !important;
}
.bg-color-main {
    background-color: $iiitd-main !important;
}
.bg-color-main-ui {
    background-color: $iiitd-main;
}
.bg-color-lightest-grey {
    background-color: $lightest-grey !important;
}
.bg-color-light-grey {
    background-color: $light-grey !important;
}
.bg-color-silver {
    background-color: #D3D3D3 !important;
}
.bg-color-off-white {
    background-color: $off-white !important;
}
.bg-color-bronze {
    background-color: #cd7f32 !important;
}
.m-auto {
    margin: auto;
}
.rounded-2 {
    border-radius: 20px;
}
.rounded-3 {
    border-radius: 30px;
}
.rounded-4 {
    border-radius: 40px;
}
.rounded-5 {
    border-radius: 50px;
}
.red-glow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(217,0,0,0.98); 
    box-shadow: 0px 0px 15px 0px rgba(217,0,0,0.98);
}
/* End of Global Rules */

/* Navigation */
.navigation {
    .nav-item > a {
        font-size: 1.3rem;
        font-weight: bolder;
        color: $grey;
        transition: 0.5s;
    }

    .nav-item > a:hover, .nav-item > a:active {
        color: $iiitd-main !important;
        transform: translate(0, -5px);
    }
}
/* End of Navigation */

.arrow {
    width: 50px;
    height: 50px;
    color: $lightest-grey;
    transition: 0.7s;
}
.arrow:hover {
    color: rgb(199, 199, 199);
    transform: translate(0, -4px);
}
.bottom {
    position: absolute;
    bottom: 15px;
    right: 25px;
}